body {
    margin: 0 !important;
    padding: 0 !important;
}

.nav {
    border-bottom: 2px solid #f3e2ba;
}

.nav-link {
    font-family: regular;
    color: #f3e2ba !important;
}

.display-4 {
    color: #f3e2ba !important;
    font-family: Archeologicaps;
}

.top {
    margin: 0;
    padding: 0;
    background-image: url("images/BackgroundImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.imagebox img {
    height: 220px;
    object-fit: cover;
}

.title1 {
    color: #f3e2ba !important;
    font-family: Archeologicaps;
}

.imagebox {
    margin-top: 90px;
    position: relative;
    display: inline-block;
}

.overlay-txt {
    color: #f3e2ba !important;
    font-size: 13px !important;
    font-family: Gotham;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 350 !important;
}

.btn-acheter,
.btn-dossier {
    font-family: Gotham;
    color: #f3e2ba !important;
    border-width: 4px;
    border-color: #f3e2ba !important;
}

.btn-acheter:hover,
.btn-dossier:hover {
    background-color: #142835 !important;
    /* Set the hover background color to red (change to your desired color) */
    color: #ffffff;
    /* Set the hover text color to white (change to your desired color) */
}

.foot {
    margin: 0;
    padding: 0;
    background-image: url("images/bg.png");
    background-size: cover;
    background-repeat: repeat;
    height: 500px;
}

.textcostum {
    color: #ffffff;
}

.presentation {
    color: #f3e2ba;
    font-family: Charlemagne Std;
}

.present-text {
    font-family: Gotham;
}

.actualites {
    background-image: url("images/BackgroundImage.png");
}